<div class="app-intro app-page-text" id="app-intro">
    <div class="app-page-header app-page__header">
      	<div class="app-page__title">
          	<h1 class="app-page__headline">Herzlich Willkommen in unserer Praxis!</h1>
      	</div>
      	<div class="app-page__abstract">Sehr geehrte Patientin,<br />
			sehr geehrter Patient,

			<p>unser Praxis-Team heißt Sie recht herzlich in unserer Praxis willkommen. Auf unserer Homepage wollen wir Ihnen unser Konzept, ­unser Behandlungsangebot und die Organisation unserer Praxis vorstellen.</p>

			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></div>
		</div>
    </div>
</div>