//
// Footer
// -----------------------------------


.app-footer__content {
    color: #fff;
    background: $app-primary;
    margin-bottom: 1rem;
}

.app-copyright-wrapper {
    @include make-container();
	@include make-container-max-widths();
}

.app-copyright {
    font-weight: 500;
    @include make-row();
    padding: .5rem 1rem;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: .8rem;
    a {
        color: #fff;
    }
}

.app-copyright-signature {
    text-align: left;
    @include make-col(12);
    @include media-breakpoint-up(md) {
    @include make-col(10);
    }
}

.app-copyright-info {
    text-align: right;
    @include make-col(12);
    @include media-breakpoint-up(md) {
    @include make-col(2);
    }
}
