//
// Brand
// -----------------------------------------

.app-brandbar-content {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    padding-top: .5rem;
    padding-bottom: .3rem;
}

// Make a gridrow
.app-brand {
    padding-top: 0;
    @include make-row();
    background: url(../assets/images/gradient.png) repeat-x top center transparent;
    height: 179px;

}

//** Inline svg logo
.app-brand-img {
    display: block;
    width: 100%;
    &-xs {
        width: 64px;
    }
    &-sm {
        width: 64px;
    }
    &-md {
        width: 128px;
    }
    &-lg {
        width: 272.576px
    }
}

// Wrapper for logo SVG inline elements
.app-brandname-logo {
    //position: relative;
    width: 100%;
    padding: 0;
}

// SVG inline element
.app-logo-svg {
    //position: absolute;
    //left: 0;
    //top: 0;
    padding: 2rem;
    width: 100%;
}

.app-brandname-logo-image {
    @extend .img-fluid;
}


// The actual brandname/title
.app-brand-title {
    @include make-col(12);
    @include media-breakpoint-up(md) {
    @include make-col(4);
    }
}

.app-brandname {
    margin-top: 0;
    display: block;
    padding: .7rem 1rem;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.25;
    color: #fff;
    text-transform: uppercase;
    background: $app-primary;
    margin-bottom: 1rem;
    @include media-breakpoint-up(sm) {
        margin-top: 1rem;
    }
}

// Sitewide claim
.app-brand-aside {
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
        @include make-col(8);
        background: url(../assets/images/banner.jpg) no-repeat right top transparent;
        }
    }
