.portletSearch {
	padding: .5rem;
	background: $app-primary;

	.portletHeader {
		display: none;
	}

	.LSBox {
    	@include make-row();
    	margin-left: 0;
    	margin-right: 0;

    .searchField {
        @include make-col(9);
        background-color: $app-primary !important;
        color: #fff;
        border-color: #fff;
    	}

    input::placeholder {
  		color: #fff !important;
	}

    .searchButton {
        @include make-col(3);
        font-size: .6rem;
        background: $app-primary;
        color: #fff;
        border-color: #fff;
        border-width: 1px 1px 1px 0;
    	}
	}

	.portletFooter {
		display: none;
	}
}

.portletHeader {
    font-size: 1rem;
    color: $app-primary;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

.portletContent {
    padding-left: 0;
} 

.portletItem {
    //border: 1px solid red;
    list-style: none;
    background: $gray-100;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;

    .thumb-icon {
        display: none;
    }

}

