<footer class="app-footer" id="app-footer" role="contentinfo"> 
	<section class="app-footer__content">
		<div class="app-footer-cards-wrapper"> 
			<div class="app-footer-cards"> 
				<div class="app-footer-card"> 
					<h3><img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="" /> Endoskopische Praxis</h3>
					<p>Dr. med. Günter Frieß<br />
					Dr. med. Gunnar Slusariuk<br />
					Gemeinschaftspraxis<br />
					<img class="app-svg-icon" src="/assets/images/location.svg" border="0" alt="" /> Gögginger Str. 49<br />
					86159 Augsburg</p>
					<p><img class="app-svg-icon" src="/assets/images/phone.svg" border="0" alt="" /> Telefon: 0821 / 58 55 15<br />
					<img class="app-svg-icon" src="/assets/images/fax.svg" border="0" alt="" /> Telefax: 0821 / 58 68 17<br />
					<img class="app-svg-icon" src="/assets/images/mail.svg" border="0" alt="" />  E-Mail: <a href="mailto:info@endo-praxis.com">info@endo-praxis.com</a></p>
				</div>
				 
				<div class="app-footer-card">
				<h3><img class="app-svg-icon-heading" src="/assets/images/clock.svg" border="0" alt="" /> Unsere Sprechzeiten</h3> 
					<div class="app-grid">
						<div class="app-grid__item--w33">Montag</div>
						<div class="app-grid__item--w66">08:00 - 17:00 Uhr</div>

						<div class="app-grid__item--w33">Dienstag</div>
						<div class="app-grid__item--w66">07:00 - 16:00 Uhr</div>

						<div class="app-grid__item--w33">Mittwoch</div>
						<div class="app-grid__item--w66">08:30 - 13:00 Uhr</div>

						<div class="app-grid__item--w33">Donnerstag</div>
						<div class="app-grid__item--w66">08:30 - 20:00 Uhr</div>

						<div class="app-grid__item--w33">Freitag</div>
						<div class="app-grid__item--w66">09:00 - 12:00 Uhr</div>
					</div>
				</div>
				<div class="app-footer-card">
					<h3><img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="" /> So finden Sie uns!</h3>
					<img class="img-fluid" src="/assets/images/map.jpg" /> 
				</div>
			</div> 
		</div> 
	</div>  

	</section>
	<div class="app-copyright-wrapper"> 
		<div class="app-copyright"> 
			<div class="app-copyright-signature"> 
				<p>&copy; 2018 Endoskopische Praxis &middot; Alle Rechte vorbehalten &middot; <a class="app-card__link" href="{{ page.base_url }}impressum">Impressum</a> &middot; <a class="app-card__link" href="{{ page.base_url }}datenschutzerklaerung">Datenschutz</a> &middot; <a class="app-card__link" href="{{ page.base_url }}kontakt">Kontakt</a></p> 
			</div> 
			<div class="app-copyright-info"> 
				<p>Site by <a href="https://kreativkombinat.de">KK</a>
				</p> 
			</div> 
		</div>
	</div>
</footer>
