<footer class="app-footer" id="app-footer" role="contentinfo"> 
	<section class="app-footer__content">
			<div class="app-copyright-wrapper"> 
				<div class="app-copyright"> 
					<div class="app-copyright-signature"> 
						&copy; 2018 Pfarreiengemeinschaft Kriegshaber &middot; Alle Rechte vorbehalten &middot; <a class="app-card__link" href="{{ page.base_url }}impressum">Impressum</a> &middot; <a class="app-card__link" href="{{ page.base_url }}datenschutzerklaerung">Datenschutz</a> &middot; <a class="app-card__link" href="{{ page.base_url }}kontakt">Kontakt</a>
					</div> 
					<div class="app-copyright-info"> 
						Site by <a href="https://kreativkombinat.de">KK</a>
					</div> 
				</div>
			</div>
	 
	</section>
</footer>
